* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}

/* roboto-slab-regular - latin_cyrillic */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Slab Regular"), local("RobotoSlab-Regular"),
        url("../fonts/roboto-slab-v9-latin_cyrillic/roboto-slab-v9-latin_cyrillic-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/roboto-slab-v9-latin_cyrillic/roboto-slab-v9-latin_cyrillic-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-700 - latin_cyrillic */
@font-face {
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Slab Bold"), local("RobotoSlab-Bold"),
        url("../fonts/roboto-slab-v9-latin_cyrillic/roboto-slab-v9-latin_cyrillic-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/roboto-slab-v9-latin_cyrillic/roboto-slab-v9-latin_cyrillic-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat Regular"), local("Montserrat-Regular"),
        url("../fonts/montserrat-v14-latin_cyrillic/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v14-latin_cyrillic/montserrat-v14-latin_cyrillic-regular.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: local("Montserrat Bold"), local("Montserrat-Bold"),
        url("../fonts/montserrat-v14-latin_cyrillic/montserrat-v14-latin_cyrillic-700.woff2") format("woff2"),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url("../fonts/montserrat-v14-latin_cyrillic/montserrat-v14-latin_cyrillic-700.woff") format("woff");
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.container {
    width: 17.5rem;
    margin: 0 auto;
}

.logo {
    display: none;
}

.btn-list {
    text-align: center;
}

.header {
    position: absolute;
    width: 100%;
}

.btn {
    font-family: "Montserrat", sans-serif;
    font-style: 0.875rem;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    border: none;
    width: 5.625rem;
    height: 2.25rem;
    margin-top: 1.25rem;
    margin-bottom: 7.25rem;

}

.btn:hover {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.logo-item {
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
    display: block;
    text-align: center;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

.title-holiday {
    font-family: "Montserrat", sans-serif;
    font-size: 1.875rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 1.25rem;
}

.last-title {
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    font-weight: lighter;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1.25rem;
}

.btn-find {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    color: #ffffff;
    width: 17.5rem;
    height: 2.5rem;
    border: none;
    background-color: #ff4e50;
    border-radius: 1.25rem;
    margin-bottom: 8.625rem;
}

.about-holiday {
    background-image: url(../img/imgB.jpg);
    width: 100%;
    min-height: 33.75rem;
    padding-top: 11rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.partners {
    padding-top: 4.375rem;
}

.partners-title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.375rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.375rem;
}

.foto-item {
    margin: 0 auto;
    border-radius: 50%;
}



.foto-partners {
    width: 7.625rem;
    position: relative;
    margin: 0 auto;
}

.foto-partners::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 2.125rem;
    height: 2.125rem;
    border: 3px solid #ffffff;
    border-radius: 50%;
    background-color: #ff4e50;
    background-image: url(../img/TV.png);
    background-repeat: no-repeat;
    background-position: center;
}

.botl-after::after {
    background-image: url(../img/botl.png);
    background-color: #ffa507;
}

.cap-after::after {
    background-image: url(../img/cap.png);
    background-color: #1cd7ad;
}

.fly-after::after {
    background-image: url(../img/fly.png);
    background-color: #4e73db;
}

.name-partners {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
}

.about-partners {
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: lighter;
    text-align: center;
    color: #666666;
    margin-bottom: 1.875rem;
}

.other-partners {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    color: #ff4e50;
    width: 17.625rem;
    height: 2.5rem;
    background-color: transparent;
    border: 3px solid #ff4e50;
    border-radius: 1.25rem;
}

@media (min-width: 768px) {
    .container {
        width: 46.75rem;
    }

    .logo-item {
        display: none;
    }

    .logo {
        display: block;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        display: block;
        text-align: center;
        margin-bottom: 40px;
        text-transform: uppercase;
    }

    .header .container {
        display: flex;
        justify-content: space-between;
    }

    .btn {
        margin-top: 2.5rem;
    }

    .logo {
        margin-top: 3.125rem;
    }

    .title-holiday {
        font-size: 3.25rem;
        letter-spacing: 1px;
        margin-top: 9.375rem;
        margin-bottom: 2.625rem;
    }

    .last-title {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;
    }

    .holiday-item {
        text-align: center;
    }

    .btn-find {
        width: 14.375rem;
        height: 2.5rem;
        margin-bottom: 14.625rem;
    }

    .about-holiday {
        background-image: url(../img/img\ tabl.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .partners {
        padding: 0;
    }

    .partners-title {
        font-size: 1.375rem;
        margin-top: 4.625rem;
        margin-bottom: 2rem;
    }

    .partners-block {
        width: 12.125rem;
        margin: 0 auto;
    }

    .partners-list-item {
        width: 50%;
    }

    .partners-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .other-partners {
        display: block;
        width: 12.125rem;
        height: 2.5rem;
        margin: 1.875rem auto 2.5rem;
    }

}

@media (min-width: 980px) {
    .about-holiday {
        background-image: url(../img/img\ desc.jpg);
        background-repeat: no-repeat;
        background-position: center;
    }

    .container {
        width: 59.125rem;
    }

    .holiday-item {
        width: 32.375rem;
        margin: 0 auto;
    }

    .partners-block {
        width: 13.75rem;
        margin: 0 auto;
    }

    .partners-list {
        display: flex;
        justify-content: space-between;
    }

    .partners-list-item {
        width: 20%;
    }

}