* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  padding: 40px 0;
}

.logotype-link {
  font-family: "Roboto", sans-serif;
  color: #515151;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  float: left;
}

.logotype-link::first-letter {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #1abc9c;
}

.navigation-list {
  float: right;
  text-align: right;
  margin-top: 20px;
}

.navigation-list-item {
  float: left;
}

.navigation-list-item:not(:last-of-type) {
  margin-right: 36px;
}

.navigation-list-link {
  font-family: "OpenSans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #0f0101;
}

.navigation-list-item a:hover,
.navigation-list-item a:focus {
  color: #1abc9c;
}

.slider {
  background-image: url(../img/picture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .container {
  position: relative;
  height: 600px;
}

.slider-name {
  width: 742px;
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
}

.slider-title {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  line-height: 82px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 900;
  letter-spacing: -1px;
}

.slider-last-name {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 54px;
  color: #fff;
}

.btn {
  display: inline-block;
  width: 95px;
  height: 95px;
  border: none;
}

.prev {
  background-position: center;
  position: absolute;
  background-image: url(../img/a.png);
  background-repeat: no-repeat;
  object-fit: cover;
  margin: 0;
  background-color: rgba(26, 188, 156, 0.6);
  top: 228px;
}

.next {
  position: absolute;
  background-image: url(../img/ad.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(26, 188, 156, 0.6);
  right: 0;
  top: 228px;
}

.btn:hover {
  background-color: #1abc9c;
}

.collection {
  background: #e9f0fd;
  padding-top: 100px;
}

.collection-headline {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  color: #515151;
  margin: 0 auto;
}

.collection-headline::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  margin: 0 auto;
  bottom: 32px;
  margin-top: 32px;
}

.container-collection {
  padding: 0;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #e9f0fd;
}

.collection-product {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.collection-product-item {
  width: 255px;
  float: left;
  margin-right: 30px;
  padding: 0;
}

.background {
  position: relative;
}

.collection-product-item:last-child {
  margin: 0;
}

.collection-discription {
  background: #323232;
  line-height: 40px;
  font-size: 18px;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.title-item {
  float: left;
  width: 201px;
  color: #fff;
  padding: 0 8px;
}

.price {
  background: #ffffff70;
  color: #fff;
  float: right;
  width: 54px;
  padding: 0 8px;
  text-align: center;
}

.collection-product-item:hover .collection-discription {
  background: #1abc9c;
}

.collection-product-item:hover .overlay {
  opacity: 1;
}

.collection-product-item:hover .background-img {
  opacity: 0.549;
}

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  opacity: 0;
}

.overlay:hover {
  opacity: 1;
}

.btn-list {
  list-style-type: none;
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn-list-item {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  margin-right: 4px;
}

.btn-list-item:nth-child(3) {
  margin: 0;
}

.btn-list-item:last-child {
  margin: 0;
  padding-top: 7px;
}

.btn-item {
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 0;
  background: none;
  border: #fff 1px solid;
  display: table-cell;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.btn-like {
  background-image: url(../img/h.png);
}

.btn-strel {
  background-image: url(../img/strel.png);
}

.btn-clock {
  background-image: url(../img/clock.png);
}

.deleted-title {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 20px);
}

.btn-deleted {
  width: 166px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  background-position: 12px center;
  background-image: url(../img/shop.png);
  background-color: #323232;
}

.btn-item:hover {
  background-color: #1abc9c;
  border: none;
}

.footer {
  height: 88px;
  background: #323232;
  text-align: center;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 88px;
  color: #fefefe;
}

.footer a {
  display: contents;
  text-decoration: none;
  color: #46bfa9;
}