.collaction {
    background: #e9f0fd;
    padding-top: 100px;
  }
  .section-heading {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #515151;
    margin: 0 auto;
  }
  
  .section-heading::after {
    display: block;
    content: "";
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
    margin: 0 auto;
    bottom: 32px;
    margin-top: 32px;
  }
  
  .clearfix::after {
    display: table;
    content: "";
    clear: both;
  }
  
  /* PRODUCTS */
  
  .products {
    padding: 0;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #e9f0fd;
  }
  
  .products-list {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  
  .product {
    width: 255px;
    float: left;
    margin-right: 30px;
    padding: 0;
  }
  .product-item {
    position: relative;
  }
  
  .clearfix::after {
    display: table;
    content: "";
    clear: both;
  }
  
  .product:last-child {
    margin: 0;
  }
  
  /* item footer */
  
  .item-footer {
    background: #323232;
    line-height: 40px;
    font-size: 18px;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
  }
  
  .clearfix::after {
    display: table;
    content: "";
    clear: both;
  }
  
  .item-name {
    float: left;
    width: 201px;
    color: #fff;
    padding: 0 8px;
  }
  
  .item-price {
    background: #ffffff70;
    color: #fff;
    float: right;
    width: 54px;
    padding: 0 8px;
    text-align: center;
  }
  
  .item-price::before {
    content: "$";
  }
  
  .product:hover .item-footer {
    background: #1abc9c;
    transition: all .3s linear;
  }
  
  .product:hover .product-overlay {
    opacity: 1;
    transition: all .3s linear;
  }
  
  .clearfix::before {
    display: table;
    content: "";
    clear: both;
  }
  
  .product:hover .product-img {
    opacity: 0.549;
    transition: all .5s linear;
  }
  
  /* SUBMENU */
  
  .product-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.7);
    /* background: #0000007f; */
    text-align: center;
    opacity: 0;
  }
  
  .product-overlay:hover {
    opacity: 1;
  }
  
  .submenu {
    list-style-type: none;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .submenu-icon {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    margin-right: 4px;
  }
  
  .submenu-icon:nth-child(3) {
    margin: 0;
  }
  
  .submenu-icon:last-child {
    margin: 0;
    padding-top: 7px;
  }
  
  .submenu-button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    background: none;
    border: #fff 1px solid;
    display: table-cell;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  .button-like {
    background-image: url(../img/icon_like.png);
  }
  
  .button-shuffle {
    background-image: url(../img/icon_shuffle.png);
  }
  
  .button-clock {
    background-image: url(../img/icon_clock.png);
  }
  
  .card-titel {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    text-align: right;
    vertical-align: middle;
    width: calc(100% - 20px);
  }
  
  .box-card {
    width: 166px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    background-position: 12px center;
    background-image: url(../img/shop.png);
    background-color: #323232;
  }
  .button:hover {
    background-color: #1abc9c;
    border: none;
  }
  
  .button:hover {
    opacity: 1;
    transition: all .2s linear;
  }
  
  .button:focus {
    background-color: #1abc9c;
    border: none;
    transition: all .2s linear;
  }
  
  /* FOOTER */
  
  .footer {
    height: 88px;
    background: #323232;
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 88px;
    color: #fefefe;
  }
  
  .footer a {
    display: contents;
    text-decoration: none;
    color: #46bfa9;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }